<nav>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="deeper">Diving Deeper</button>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="started">Getting Started</button>
</nav>

<mat-menu #deeper="matMenu">
  <button mat-menu-item routerLink="diving/animation">Animation</button>
  <button mat-menu-item routerLink="diving/cartoon">Cartoon</button>
</mat-menu>

<mat-menu #started="matMenu">
  <button mat-menu-item routerLink="started/cube">Cube</button>
  <button mat-menu-item routerLink="started/sphere">Sphere</button>
</mat-menu>
