:host {
  display: grid;
  height: 100%;
  grid-template-rows: auto minmax(10%, 5.6rem);
  grid-template-columns: 100%;
  grid-template-areas: 'main' 'nav';
}

.main {
  grid-area: main;
}

.nav {
  grid-area: nav;
}
